@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  background-color: hsl(240, 78%, 98%);
  background: url(components/images/bg-top.svg),
    url(components/images/bg-bottom.svg) hsl(240, 78%, 98%);
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
}

header h1 {
  color: #6e728e;
  text-align: center;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 40px;
}

.selectHover {
  display: flex;
  height: 32px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: #6e728e;
  text-align: right;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  opacity: 0.5;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(237, 63%, 64%);
  border: 1px solid hsl(237, 63%, 64%);
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #ffffff;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(
    135deg,
    rgba(162, 167, 240, 1) 18%,
    rgba(105, 110, 221, 1) 65%
  );
  border: 1px solid
    linear-gradient(
      135deg,
      rgba(162, 167, 240, 1) 18%,
      rgba(105, 110, 221, 1) 65%
    );
}
input:focus + .slider {
  box-shadow: 0 0 1px #ffffff;
}
input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}

.types {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 64.5px;
}

.value {
  color: #4a4d60;
  font-size: 72px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 71px;
  letter-spacing: -2.16px;
  margin-top: 24px;
  margin-bottom: 32px;
}

#typeTitle {
  color: #6e728e;
  text-align: center;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  border: none;
  padding: 0;
}

#benefits {
  margin-bottom: 32px;
}

#borderTop {
  border-top: 1px solid hsla(233, 13%, 49%, 0.25);
}

p {
  color: #6e728e;
  text-align: center;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  padding: 12px;
  width: 288px;
  border-bottom: 1px solid hsla(233, 13%, 49%, 0.25);
}

button {
  width: 288px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 6px;
  background: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
  border: none;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.393px;
}

button:hover {
  border-radius: 6px;
  border: 1px solid #6d72de;
  background: #fff;
  color: #6d72de;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.393px;
  transition: 1s;
}

.whiteBox,
.secondWhiteBox {
  width: 350px;
  height: 453px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px 0px 0px 10px;
  background: #fff;
  box-shadow: 0px 20px 40px 0px rgba(212, 210, 244, 0.5);
}

.whiteBox:hover,
.secondWhiteBox:hover {
  box-shadow: 0px 20px 40px 0px rgb(185, 180, 253);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.purpleBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
  box-shadow: 0px 20px 40px 0px rgba(212, 210, 244, 0.5);
}

.purpleBox:hover {
  background: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
  box-shadow: 0px 20px 40px 0px rgb(185, 180, 253);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#TitlePurple {
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  border: none;
  padding: 0px;
}
#Purplevalue {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 71px;
  letter-spacing: -2.16px;
  margin-top: 24px;
  margin-bottom: 32px;
}
#benefitsPurple {
  margin-bottom: 32px;
}
#btPurple {
  border-top: 1px solid hsla(0, 0%, 100%, 0.25);
}
#benefitsPurple p {
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
}
#btnPurple {
  width: 288px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #fff;
  color: #6d72de;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.393px;
}

#btnPurple:hover {
  border-radius: 6px;
  border: 1px solid #fff;
  background: #ffffff00;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.393px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.attribution {
  text-align: center;
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  color: hsl(237, 63%, 64%);
  margin-top: 12px;
}
.attribution a {
  color: hsl(237, 63%, 64%);
  text-decoration: none;
}
a:visited {
  color: hsl(237, 63%, 64%);
  text-decoration: none;
}
a:hover {
  color: hsl(236, 72%, 79%);
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    background-color: hsl(240, 78%, 98%);
    background: url(components/images/bg-top.svg);
    background-position: right -196px top -40px;
    background-repeat: no-repeat;
  }

  #container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-top: 64px;
  }

  header h1 {
    color: #6e728e;
    text-align: center;
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
  }

  .selectHover {
    display: flex;
    height: 32px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: #6e728e;
    text-align: right;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }

  .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(237, 63%, 64%);
    border: 1px solid hsl(237, 63%, 64%);
    transition: 0.4s;
    border-radius: 30px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #ffffff;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: hsl(237, 63%, 64%);
    border: 1px solid hsl(237, 63%, 64%);
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #ffffff;
  }
  input:checked + .slider:before {
    transform: translateX(1.4em);
    background-color: #fff;
  }

  .types {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 32.5px;
    margin-top: 80px;
  }

  .value {
    color: #4a4d60;
    font-family: "Montserrat", sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: -2.16px;
  }

  #typeTitle {
    color: #6e728e;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }

  #benefits {
    margin-bottom: 32px;
  }

  #borderTop {
    border-top: 1px solid hsla(233, 13%, 49%, 0.25);
  }

  p {
    color: #6e728e;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    border-bottom: 1px solid hsla(233, 13%, 49%, 0.25);
  }

  button {
    width: 269px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 6px;
    border-radius: 6px;
    background: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
    color: #fff;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.393px;
  }

  button:hover {
    border-radius: 6px;
    border: 1px solid #6d72de;
    background: #fff;
    color: #6d72de;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.393px;
    transition: 1s;
  }
  .whiteBox {
    width: 327px;
    height: 453px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 20px 40px 0px rgba(212, 210, 244, 0.5);
  }

  .secondWhiteBox {
    width: 327px;
    height: 453px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 20px 40px 0px rgba(212, 210, 244, 0.5);
    margin-bottom: 50px;
  }

  .purpleBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 326px;
    height: 453px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
    box-shadow: 0px 20px 40px 0px rgba(212, 210, 244, 0.5);
  }
  #TitlePurple {
    color: #fff;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }

  #Purplevalue {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: -2.16px;
  }

  #benefitsPurple {
    margin-bottom: 32px;
  }
  #btPurple {
    border-top: 1px solid hsla(0, 0%, 100%, 0.25);
  }
  #benefitsPurple p {
    color: #fff;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
  }

  #btnPurple {
    width: 268px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #fff;
    color: #6d72de;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.393px;
  }

  #btnPurple:hover {
    border-radius: 6px;
    border: 1px solid #fff;
    background: #ffffff00;
    color: #fff;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.393px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .attribution {
    text-align: center;
    font-size: 11px;
    font-family: "Montserrat", sans-serif;
    color: hsl(237, 63%, 64%);
    margin-bottom: 12px;
    margin-top: 0px;
  }
}
